@import "./../../assets/scss/mixins.scss";


.wrapper-home{

    width: 100%;

    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;


    @include breakpoint(l) {
        border-radius: $border-radius-lg;
        background-color: $background-tiles;
        margin: 1.5rem 0;
        padding: 0.5rem 1rem 1rem 1rem;
        width: calc(100% - 2rem);

    }

    .article-link{
        border-radius: $border-radius-s;
        margin: 1rem 0 0 0;
        width: 100%;


        @include breakpoint(l) {
            border-radius: $border-radius-lg;
            margin: 1rem 0 0 0;
            padding: 0 1rem 0 1rem;
            width: calc(50% - 2.5rem);
        }
        @include breakpoint(xxl) {
            border-radius: $border-radius-lg;
            margin: 1rem 0 0 0;
            padding: 0 0.75rem 0 0.75rem;
            width: calc(33.33333% - 1.5rem);
        }
    }
}