@import "./assets/scss/mixins.scss";

body {
  margin: 0;
  font-family: 'Montserrat', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper{
  margin: 1rem;

  @include breakpoint(m){
    margin: 1rem 2rem;
  }
  @include breakpoint(xxl){
    max-width: 1440px;
    margin: 1.5rem auto;
  }
}
a{
  text-decoration: none;
  margin: 0;
  padding: 0;
}
